<div class="mentor-accordion">
    <div class="card">
        <span tabindex=0></span>
        <a href="#" type="button" role="button" class="card-header" data-toggle="collapse" aria-expanded="true">
            <h5 class="mb-0">Titre accordéon</h5>
            <div class="header-right">
                <i class="fa fa-chevron-down collapse-chevron" aria-hidden="true"></i>
                <i class="fa fa-trash-o fa-2x remove-collapse" aria-hidden="true"></i>
                <i class="fa fa-plus add-collapse" aria-hidden="true"></i>
            </div>
        </a>
        <div class="collapse collapse-content">
            <p class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad 
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck 
                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird 
                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh 
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven\'t heard of them accusamus labore sustainable VHS.
            </p>
        </div>
    </div>
</div>
<br>