<div class="mentor-card container-fluid presentiel">
    <div class="row">
        <div class="col-md-12 col-lg-2 mentor-card-left">
            <div>Présentiel</div>
            <div>[fa-user-o][fa-user-o]</div>
        </div>
        <div class="col-lg-10 mentor-card-content">
            <h5>Sous titre</h5>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus non est imperdiet condimentum.
                Vivamus vel elit posuere purus rhoncus vestibulum non eu est.
            </div>
            <div class="date mt-3">[fa-calendar-o]<span class="ml-2">12 Dec 2020 - 14:00 à 17:00</span></div>
            <div class="adresse mt-3">
                <div class="adresse-title">Adresse</div>
                <div class="adresse-content">[fa-map-marker]
                    <span class="adresse-position ml-2">
                        15 rue castagnary - paris 75000
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>