<div class='mentor-card container-fluid presentation-formation'>
    <div class='row'>
        <div class='col-md-12 col-lg-2 mentor-card-left'>
            <div>Présentation de la Formation</div>
            <div>[fa-bookmark-o]</div>
        </div>
        <div class='col-lg-10 mentor-card-content'>
            <h5 class='mb-1'>Déroulement de la formation</h5>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus non est imperdiet condimentum. ' .
        'Vivamus vel elit posuere purus rhoncus vestibulum non eu est.</div>
            <div class='date date-presentiel mt-3'>
                [fa-user-o][fa-user-o]<span class='ml-2'>Présentiel, 12 Dec 2020 - 14:00 à 17:00
            </span></div>
            <div class='date date-virtuelle mt-1'>[fa-desktop]<span class='ml-3'>Virtuelle, 12 Dec 2020 - 14:00 à 17:00</span></div>
            <h5 class='mt-4 mb-1'>Documents</h5>
            <div class='file mt-3'>
                <a href='#' >[fa-file-text-o] Carnet de bord</a>
                <a href='#' >[fa-file-text-o] Documents 2</a>
            </div>
            <h5 class='mt-4 mb-1'>Modalités d\'évaluation</h5>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus non est imperdiet condimentum.</div>
            <h5 class='mt-4 mb-1'>Modalités d\'accompagnement</h5>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus non est imperdiet condimentum.</div>
            <div class='formateur mt-2'>
                <div class='formateur-title'>Formateurs</div>
                <div class='formateur-content mt-1'>
                    <img src='{{wwwroot}}/theme/mentor/pix/profil.png'>Nom Prénom
                    <img src='{{wwwroot}}/theme/mentor/pix/profil.png'>Nom Prénom
                    <img src='{{wwwroot}}/theme/mentor/pix/profil.png'>Nom Prénom
                </div>
            </div>
        </div>
    </div>
</div>