<div class="mentor-card container-fluid plus-loin">
    <div class="row">
        <div class="col-md-12 col-lg-2 mentor-card-left">
            <div>Aller plus loin</div>
            <div>[fa-angle-double-right]</div>
        </div>
        <div class="col-lg-10 mentor-card-content">
            <h5>Ressources à consulter pour approfondir le sujet<br></h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus non est imperdiet condimentum.
                Vivamus vel elit posuere purus rhoncus vestibulum non eu est.
            </p>
            <ul class="unlist">
                <li><a href="#">[fa-file-pdf-o fa-1x] Ressource 1 - fichier au format PDF</a></li>
                <li>
                    <a href="#">[fa-file-o fa-1x] Ressource 2 - fichier non PDF</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener">
                        [fa-external-link fa-1x] Ressource 3 - lien externe (Ce lien s'ouvrira dans un nouvel onglet de votre navigateur)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>