<div class='mentor-image-text container-fluid'>
    <div class='row'>
        <div class='col-md-12 col-lg-6'>
            <img src='{{ wwwroot }}/theme/mentor/pix/mentor-image.png' />
        </div>
        <div class='col-md-12 col-lg-6'>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec eu risus non est imperdiet condimentum. Vivamus vel elit posuere purus rhoncus vestibulum non eu est.
                Integer commodo hendrerit quam sed posuere
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus non est imperdiet condimentum.
                Vivamus vel elit posuere purus rhoncus vestibulum non eu est.
            </p>
        </div>
    </div>
</div>