<div class="mentor-card container-fluid pratique">
    <div class="row">
        <div class="col-md-12 col-lg-2 mentor-card-left">
            <div>Dans la pratique</div>
            <div>[fa-briefcase]</div>
        </div>
        <div class="col-lg-10 mentor-card-content">
            <h5>Sous titre</h5>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus non est imperdiet condimentum.
                Vivamus vel elit posuere purus rhoncus vestibulum non eu est.
            </div>
        </div>
    </div>
</div>