<div class="mentor-card container-fluid consigne">
    <div class="row">
        <div class="col-md-12 col-lg-2 mentor-card-left">
            <div>A vous de jouer</div>
            <div>[fa-address-book]</div>
        </div>
        <div class="col-lg-10 mentor-card-content">
            <h5>Activité à réaliser</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus non est imperdiet condimentum.
                Vivamus vel elit posuere purus rhoncus vestibulum non eu est.
            </p>
            <p>[fa-clock-o fa-2x fa-pull-left] Durée : 2h</p>
        </div>
    </div>
</div>