<div class='mentor-card container-fluid class-virtuelle'>
    <div class='row'>
        <div class='col-md-12 col-lg-2 mentor-card-left'>
            <div>Classe Virtuelle</div>
            <div>[fa-desktop]</div>
        </div>
        <div class='col-lg-10 mentor-card-content'>
            <h5>Sous titre</h5>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus non est imperdiet condimentum.
                Vivamus vel elit posuere purus rhoncus vestibulum non eu est.
            </div>
            <div class='date mt-3'>[fa-calendar-o] 12 Dec 2020 - 14:00 à 17:00</div>
            <div class='btn btn-primary mt-4 card-link'>
                <a href='{{Url}}' role='button'>Accéder à la classe virtuelle<br></a>
            </div>
        </div>
    </div>
</div>